{//个人中心-工作计划-提交申请页面} 


{//个人中心-工作计划-提交表单} 
<div class="panel panel-success" id="append-panel" style="display:none;">
	<div class="panel-heading">
		<h3 class="panel-title" id="append-panel-title"></h3>
	</div>
	<div class="panel-body">
		<form id="append-form">
			<input type="hidden" id="append-work-id" name="work_id">
			<div class="row">	
				<div class="col-lg-4 col-sm-6 form-div">
					<div class="form-label">人员姓名</div>
					<div class="input-group">
						<input type="input"  class="form-control" readonly="" value="{:get_username()}">
						<span class="input-group-addon"></span>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 form-div">
					<div class="form-label">所属部门</div>
					<div class="input-group">
						<input type="input"  class="form-control" readonly="" value="{:get_department_name()}">
						<span class="input-group-addon"></span>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 form-div">
					<div class="form-label">周次日期</div>
					<div class="input-group">
						<input type="input"  class="form-control" id="append-date" readonly="">
						<span class="input-group-addon"></span>
					</div>
				</div>
				<div class="col-sm-12 form-div">
					<hr style="margin: 5px auto;">
				</div>
				<div class="col-sm-12">
					<div style="text-align: center;">工作计划</div>
					<div class="panel-group" id="workplan-list">
					</div>
					<br>
					<button type="button" class="btn btn-success center-block" onclick="addWorkplan(null)">添加新工作</button>
				</div>

				<div class="col-sm-12 form-div">
					<div class="form-label">总结</div>
					<div class="textarea">
					<textarea type="" class="form-control" id="append-summary" name="summary" style="min-height:100px;"> </textarea>
					</div>
				</div>
				
			</div>
			<div class="row">
				<div class="col-sm-12 form-div" style="text-align: center;">
					<br>
					<button style="min-width:150px;width:30%;" type="button" id="append-submit" data-loading-text="提交中。。" class="btn btn-success">
					提交
					</button>
				</div>	
			</div>
		</form>
	</div>
</div>

<div class="panel panel-success" id="new-workplan" style="display: none;">
	<div class="panel-heading" style="padding: 5px 15px;">
		<div class="panel-title">
			工作
			<button type="button" class="btn btn-xs btn-danger" onclick="deleteWorkPlan(this)" style="float:right;">删除</button>
			<div style="clear: both;"></div>
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-lg-4 col-sm-6 form-div">
				<div class="form-label">日期</div>
				<div class="input-group date form_date"  data-date-format="yyyy-mm-dd">	
					<input class="form-control append-date" type="text" readonly>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 form-div">
				<div class="form-label">地点</div>
				<div class="input-group">
					<input type="input"  class="form-control append-place">
					<span class="input-group-addon"></span>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 form-div">
				<div class="form-label">人物</div>
				<div class="input-group">
					<input type="input"  class="form-control append-person">
					<span class="input-group-addon"></span>
				</div>
			</div>
			<div class="col-sm-12 form-div">
				<div class="form-label">工作内容</div>
				<div class="textarea">
				<textarea type="" class="form-control append-details" style="min-height:50px;"> </textarea>
				</div>
			</div>
			<div class="col-sm-2 form-div">
				<input type="checkbox" class="append-finish" data-on="success" data-on-label="已完成" data-off="danger" data-off-label="未完成" />
			</div>
			<div class="col-sm-10 form-div">
				<div class="form-label">未完成原因</div>
				<div class="input-group">
					<input type="input"  class="form-control append-reason">
					<span class="input-group-addon"></span>
				</div>
			</div>
		</div>
		<div class="alert alert-danger" style="margin-bottom: 0px; padding: 10px 15px; display: none;"></div>
	</div>
</div>


<script type="text/javascript">
	var workplanList;

	$(function(){
		
	});
	
	function setApplyFormEnable(enable){
		if(enable){
			$('#append-form .form_date').datetimepicker({  
				language:"zh-CN",
				weekStart: 1,
				todayBtn:  1,
				autoclose: 1,
				todayHighlight: 1,
				startView: 2,
				minView:2,
				forceParse: 0
	    	});
			$("#append-place").removeAttr("readonly");
			$("#append-reason").removeAttr("readonly");
		}else{
			$('#append-form .form_date').datetimepicker('remove');
			$("#append-place").attr("readonly","");
			$("#append-reason").attr("readonly","");
		}

	}

	//填写工作计划
	function editWork(data){
		$("#append-submit").unbind();
		$("#append-submit").click(function(){onEditSubmit('edit');});

		//setApplyFormEnable(true);
		$("#append-panel-title").text("修改申请");
		$("#append-work-id").val(data.work_id);
		$("#append-date").val(data.date);

		$("#append-summary").parent().parent().hide();


		$("#append-panel").show();
		$.scrollTo($("#append-panel").offset().top-60,300);
	}



	function onEditSubmit(mode){

		var workplan_panelList = $("#workplan-list").children();
		workplan_panelList.find(".alert").hide();
		var workplanList = new Array();
		for (var i = 0; i < workplan_panelList.length; i++){
			var workplan_panel = $(workplan_panelList[i]);
			if(workplan_panel.find(".append-date").val() == ""){
				showAlert(workplan_panel,"请选择时间");
				return;
			}
			if(workplan_panel.find(".append-place").val() == ""){
				showAlert(workplan_panel,"请填写地点");
				return;
			}
			if(workplan_panel.find(".append-person").val() == ""){
				workplan_panel.find(".append-person").val("无");
			}	
			if(workplan_panel.find(".append-details").val() == ""){
				showAlert(workplan_panel,"请填写工作内容");
				return;
			}	

			var workplan = new Object();
			workplan.date = workplan_panel.find(".append-date").val();
			workplan.place = workplan_panel.find(".append-place").val();
			workplan.person = workplan_panel.find(".append-person").val();
			workplan.details = workplan_panel.find(".append-details").val();
			workplan.finish = workplan_panel.find(".append-finish")[0].checked;
			workplan.reason = workplan_panel.find(".append-reason").val();
			workplanList.push(workplan);
		}

		alert(JSON.stringify(workplanList));
		return;
	
		switch(mode){
			case "add":
				postSubmit("{:U('Work/addWork')}",$("#append-form").serialize(),"提交成功",$('#append-submit'),null,"提交结果");
				break;
			case "edit":
				postSubmit("{:U('Work/editWork')}",$("#append-form").serialize(),"修改成功",$('#append-submit'),null,"修改结果");
				break;
		}

		function showAlert(panel,text){
			panel.find(".alert").text(text).show();
			$.scrollTo(panel.offset().top-60,300);
		}
	
	}

	function summarizeWork(data){
		
		$("#append-submit").unbind();
		$("#append-submit").click(function(){onSummarizeSubmit('edit');});

		setApplyFormEnable(false);
		$("#append-summary-div").show();
		$("#append-panel .panel-title").text("出差总结");
		$("#append-work-id").val(data.work_id);
		$("#append-date").val(data.date);
		$("#append-start-date").val(data.start_date);
		$("#append-end-date").val(data.end_date);
		$("#append-place").val(data.place);
		$("#append-reason").val(data.reason);
		$("#append-cost").val(data.cost);
		$("#append-summary").val(data.summary);


		$("#table-workplan-input").siblings().remove();
		try{
			var workplanList = JSON.parse(data.workplan);
			var workplan_trList = new Array();
			for (var i = 0; i < workplanList.length; i++){
				var workplan_tr = $(document.createElement("tr"));
				workplan_tr.append("<td>" + workplanList[i].name + "</td>");
				workplan_tr.append("<td>" + workplanList[i].sex + "</td>");
				workplan_tr.append("<td>" + workplanList[i].department + "</td>");
				workplan_tr.append("<td>" + workplanList[i].position + "</td>");
				workplan_tr.append("<td>" + workplanList[i].contact + "</td>");
				workplan_tr.append("<td>" + workplanList[i].alumni + "</td>");
				workplan_tr.append('<td><button type="button" class="btn btn-xs btn-danger" onclick="delObjFromTable(this)">删除</button></td>');
				workplan_trList.push(workplan_tr);
			}
			$('#append-workplan-tbody').children().last().before(workplan_trList);
		}
		catch(err){}

		$("#append-panel").show();
		$.scrollTo($("#append-panel").offset().top-60,300);
	}

	function onSummarizeSubmit(){
		if($("#append-summary").val().length < 3){
			showModalResult(false,"提示","请填写出差总结",false);
			return;
		}
		if($("#append-cost").val() == ''){
			showModalResult(false,"提示","请填写报销金额",false);
			return;
		}

		var workplanList_trList = $('#append-workplan-tbody').children();
		var workplanList = new Array();
		for (var i = 0; i < workplanList_trList.length-1; i++) {
			var workplan_tdList = $(workplanList_trList[i]).children();
			workplan = new Object();
			workplan.name = $(workplan_tdList[0]).text();
			workplan.sex = $(workplan_tdList[1]).text();
			workplan.department = $(workplan_tdList[2]).text();
			workplan.position = $(workplan_tdList[3]).text();
			workplan.contact = $(workplan_tdList[4]).text();
			workplan.alumni = $(workplan_tdList[5]).text();
			workplanList.push(workplan);
		};
		$("#append-workplan").val(JSON.stringify(workplanList));
		postSubmit("{:U('Work/summarizeWork')}",$("#append-form").serialize(),"提交成功",$('#append-submit'),null,"提交结果");
	}

	function addWorkplan(data){
		var new_workplan = $("#new-workplan").clone(true);
			new_workplan.removeAttr("id");
			new_workplan.addClass("workplan");

			new_workplan.find(".append-finish").bootstrapSwitch();
			new_workplan.find(".append-finish").on('switch-change', function (e, data){
				if(data.value){
					$(e.target).parents(".workplan").find(".append-reason").attr('disabled','disabled');
				}
				else{
					$(e.target).parents(".workplan").find(".append-reason").removeAttr('disabled');
				}		
			});
			new_workplan.find(".form_date").datetimepicker({  
				language:"zh-CN",
				weekStart: 1,
				todayBtn:  1,
				autoclose: 1,
				todayHighlight: 1,
				startView: 2,
				minView:2,
				forceParse: 0
    		});	
			$("#workplan-list").append(new_workplan);
			new_workplan.fadeIn("fast");
			$.scrollTo(new_workplan.offset().top-60,300);
	}

	function deleteWorkPlan(button){
		var workplan = $(button).parent().parent().parent();
		workplan.fadeOut("fast",function(){workplan.remove();});
		
	}
</script>