{//个人中心-工作计划-搜索结果页面} 

<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">工作计划
			<a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#query-condition-collapse">
				<small>折叠/显示搜索条件</small>
			</a>
		</h3>
	</div>
	<div class="panel-body">
		<div id="query-condition-collapse" class="panel-collapse collapse in">
			<form id="query-form">
				<div class="row">	
					<div class="col-lg-4 col-sm-6 form-div">
						<div class="form-label">开始日期</div>
						<div class="input-group date form_date" data-date-format="yyyy-mm-dd">	
							<input class="form-control" size="16" type="text" value="{$condition['start_date']}" name="start_date" readonly>
							<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 form-div">
						<div class="form-label">结束日期</div>
						<div class="input-group date form_date" data-date-format="yyyy-mm-dd">
							<input class="form-control" size="16" type="text" value="{$condition['end_date']}" name="end_date" readonly>
							<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						</div>	
					</div>
					<div class="col-lg-4 col-sm-6 form-div">
						<div class="form-label">审批情况</div>
						<div class="input-group">
							<select name="check_status" class="selectpicker">
								<option value="0">全部</option>
								<option value="1">不能填写</option>
								<option value="2">允许填写</option>
								<option value="3">已经填写</option>
								<option value="4">已经审阅</option>
							</select>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 form-div">
						<div class="form-label">编辑模式</div>
						<div class="input-group">									
							<input id="switch-edit" type="checkbox">
						</div>
					</div>
					<div class="clearfix visible-md visible-sm"></div>
					<div class="col-lg-4 col-sm-6 form-div">
						<div class="form-label">每页显示</div>
						<div class="input-group">
							<input type="input" name="per_page" value="{$condition['per_page']}" class="form-control">
							<span class="input-group-addon"></span>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 form-div">
						<div class="form-label" style="visibility:hidden;">确认按钮</div>
						<div style="input-group; text-align: center;">
							<button style="width:70%" type="button" id="search-btn" onclick="onSearch()" data-loading-text="查找中。。。" class="btn btn-primary">查找</button>
						</div>
					</div>	
				</div>
			</form>
		</div>

		<div class="table-responsive">
			<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th>日期</th>
						<th>周次</th>
						<th>填写状态</th>
						<th></th>
					</tr>
				</thead>
				<tbody> 		
				<foreach name="workList" item="record">
					<tr>
						<td>{$record['date']}</td>
						<td>{$record['week']}</td>
						<td>
							<switch name="record['status']">
								<case value="1">
									<button type="button" class="btn btn-xs btn-danger">不可填写</button>
								</case>
								<case value="2">
									<button type="button" class="btn btn-xs btn-danger">等待填写</button>
								</case>
								<case value="3">
									<button type="button" class="btn btn-xs btn-info">已经填写</button>
								</case>
								<case value="4">
									<button type="button" class="btn btn-xs btn-success">已经审阅</button>
								</case>
								<case value="5">
									<button type="button" class="btn btn-xs btn-success">已经存档</button>
								</case>
							</switch>
						</td>
						<td style="text-align: right;">
							<button type="button" class="btn btn-xs btn-primary" onclick="onViewClick(this)">查看</button>
							<if condition="$record['status'] eq 1"> {//不可填写}
								<button type="button" class="btn btn-xs" style="visibility:hidden;">填写</button>
							<elseif condition="$record['status'] eq 2"/>
								<button type="button" class="btn btn-xs btn-info" onclick="onEditClick(this)">填写</button>
							<elseif condition="($record['status'] eq 3) OR ($record['status'] eq 4)"/>
								<button type="button" class="btn btn-xs btn-warning btn-edit" onclick="onEditClick(this)" disabled="disabled">修改</button>
							</if>
						</td>	
					</tr>
				</foreach>
				</tbody>
			</table>
		</div>
		<div style="display:none;" id="old-page">
			{$pageHtml}
		</div>

		<div style="text-align: center;">
			<ul class="pagination" style="margin-top:0;">
			</ul>
		</div>
	</div>
</div>



<script type="text/javascript">
	var workList = {:json_encode($workList)};
	$(function(){
		if(getCookie('page') != "home-work"){
			setCookie('switch-edit',0);
			setCookie('collapse',0);
		}

		//===控件初始化===
		//状态筛选
		$("select[name='check_status'] option[value='{$condition['check_status']}']").attr("selected", "selected");
		$('.selectpicker').selectpicker('refresh');
		//编辑开关
		if(getCookie('switch-edit') == 1){
			$("#query-form #switch-edit").bootstrapSwitch('setState', true);
			$('.btn-edit').removeAttr('disabled');
			$('.btn-delete').removeAttr('disabled');
		}
		$("#query-form #switch-edit").bootstrapSwitch();
		//搜索条件折叠
		if(getCookie('collapse') == 1){
			$('#query-condition-collapse').collapse('hide');
		}
		//日期选择器
		$('#query-form .form_date').datetimepicker({
			language: 'zh-CN',
			weekStart: 1,
			todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			minView: 2,
			forceParse: 0
		});		
		
		create_page($("div#old-page"),$("ul.pagination"));	
		
		$("#switch-edit").on('switch-change', function (e, data){
			if(data.value){
				$('.btn-edit').removeAttr('disabled');
				$('.btn-delete').removeAttr('disabled');
				setCookie('switch-edit',1);
			}
			else{
				$('.btn-edit').attr('disabled','disabled');
				$('.btn-delete').attr('disabled','disabled');
				setCookie('switch-edit',0);
			}
				
		});

		$('#query-condition-collapse').on('hidden.bs.collapse', function(){
			setCookie('collapse',1);
		});
		$('#query-condition-collapse').on('shown.bs.collapse', function(){
			setCookie('collapse',0);
		});


	});

	function onEditClick(button){
		var index = $(button).parent().parent().index();
		editWork(workList[index]);
	}

	function onViewClick(button){
		var index = $(button).parent().parent().index();
		viewWork(workList[index]);
	}

	function onSummarizeClick(button){
		var index = $(button).parent().parent().index();
		summarizeWork(workList[index]);
	}

	function onSearch(){
		$('#btn-search').button('loading');
		window.location.href = "{:U('Main/work')}"+"&"+$("#query-form").serialize();
	}
</script>


	