{//审批管理-模态框}

<div class="modal fade" id="work-modal">
	<div class="modal-dialog" style="margin: 10px auto;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<form id="modal-form">
					<input type="hidden" id="modal-work-id" name="work_id">
					<div class="row">	
						<div class="col-sm-6 form-div">
							<div class="control-label">人员姓名</div>
							<div class="input-group">
								<input type="input"  id="modal-user" class="form-control" readonly="">
								<span class="input-group-addon"></span>
							</div>
						</div>
						<div class="col-sm-6 form-div">
							<div class="control-label">所属部门</div>
							<div class="input-group">
								<input type="input"  id='modal-department' class="form-control" readonly="">
								<span class="input-group-addon"></span>
							</div>
						</div>

						<div class="col-sm-6 form-div">
							<div class="control-label">所在日期</div>
							<div class="input-group">
								<input type="input" class="form-control" id="modal-date" readonly>
								<span class="input-group-addon"></span>
							</div>
						</div>
						<div class="col-sm-12 form-div">
							<hr style="margin: 5px auto;">
						</div>
						<div class="col-sm-12 form-div">
							<div class="control-label">周计划</div>
							<div class="textarea">
							<textarea type="" class="form-control" id="modal-workplan"  style="min-height:80px;" readonly=""> </textarea>
							</div>
						</div>
						<div class="col-sm-12 form-div">
							<div class="control-label">完成情况</div>
							<div class="textarea">
							<textarea type="" class="form-control" id="modal-summary"  style="min-height:80px;" readonly=""> </textarea>
							</div>
						</div>
						<div class="col-sm-12 form-div">
							<div class="control-label">备注</div>
							<div class="textarea">
							<textarea type="" class="form-control" id="modal-comment"  style="min-height:80px;" readonly=""> </textarea>
							</div>
						</div>
						<div class="col-sm-6 form-div">
							<div class="control-label">审批时间</div>
							<div class="input-group">
								<input type="input"  id='modal-check-datetime' class="form-control" readonly="">
								<span class="input-group-addon"></span>
							</div>
						</div>
						<div class="col-sm-6 form-div">
							<div class="control-label">审批状态</div>
							<div class="div-check-status">
								<button type="button" class="btn btn-sm btn-danger btn-status1">不可填写</button>
								<button type="button" class="btn btn-sm btn-danger btn-status2">等待填写</button>
								<button type="button" class="btn btn-sm btn-info btn-status3">已经填写</button>
								<button type="button" class="btn btn-sm btn-success btn-status4">已经审阅</button>
								<button type="button" class="btn btn-sm btn-success btn-status5">已经存档</button>
								<span class="" id="modal-checker"></span>
							</div>
						</div>
						<div class="col-sm-12 form-div">
							<div class="control-label">审批批注</div>	
							<div class="input-group">
								<input type="input" id="modal-check-comment" name="check_comment" class="form-control">
								<span class="input-group-addon"></span>
							</div>			
						</div>

					</div>
				</form>
				<div class="alert alert-danger" id="modal-alert" style="margin-bottom: 0px;"></div>
			</div>
			<div class="modal-footer" style="margin-top: auto; white-space: nowrap;">
				<button type="button" class="btn btn-primary btn-modal-view" data-dismiss="modal">确定</button>
				<if condition="$privilege eq PRIRILEGE_BOSS">
					<button type="button" class="btn btn-success btn-modal-view" onclick="onApprobateSubmit(true)">已阅</button>
				</if>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	function reset(data){
		$(".div-check-status").children().hide();
		$("#work-modal .modal-footer").children().hide();
		$("#work-modal .alert").hide();
		$("#work-modal .alert").removeClass("alert-success").addClass("alert-danger");


		$("#modal-work-id").val(data.work_id);
		$("#modal-department").val(data.department_name);
		$("#modal-user").val(data.alias);
		$("#modal-date").val(data.date);
		$("#modal-workplan").val(data.workplan);
		$("#modal-summary").val(data.summary);
		$("#modal-comment").val(data.comment);

		$(".btn-status"+data.status).show();
		$("#modal-check-datetime").val(data.check_datetime);
		$("#modal-check-comment").val(data.check_comment);
		$("#modal-checker").text(data.checker!=null && data.status==4? "by "+data.checker : "").show();
	}

	function viewWork(data){
		reset(data);
		$("#work-modal .modal-title").text("查看申请");
		//$("#modal-check-comment").attr("readonly","");
		$(".btn-modal-view").show();

		$('#work-modal').modal({backdrop:"static"});
	}

	function onApprobateSubmit(isAgree){	
		modal_submit("{:U('Work/approbateWork')}",$("#modal-form"),"审阅成功",$("#modal-alert"));
	}
</script>