{//个人中心-出差列表-提交申请页面} 

{//个人中心-出差列表-提交表单} 
<div class="panel panel-success" id="append-panel" style="display:none;">
	<div class="panel-heading">
		<h3 class="panel-title"></h3>
	</div>
	<div class="panel-body">
		<form id="append-form" enctype="multipart/form-data">
			<input type="hidden" id="append-errand-id" name="errand_id">
			<input type="hidden" id="append-is-summary" name="is_summary">
			<div class="row">	
				<div class="col-lg-4 col-sm-6 form-div">
					<div class="control-label">人员姓名</div>
					<div class="input-group">
						<input type="input"  class="form-control" readonly="" value="{:get_username()}">
						<span class="input-group-addon"></span>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 form-div">
					<div class="control-label">所属部门</div>
					<div class="input-group">
						<input type="input"  class="form-control" readonly="" value="{:get_department_name()}">
						<span class="input-group-addon"></span>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 form-div">
					<div class="control-label">申请日期</div>
					<div class="input-group">
						<input type="input"  class="form-control" id="append-date" readonly="">
						<span class="input-group-addon"></span>
					</div>
				</div>
				<div class="clearfix visible-md visible-sm"></div>
				<div class="col-sm-6 form-div">
					<div class="control-label">出发日期</div>
					<div class="input-group date form_date"  data-date-format="yyyy-mm-dd hh">	
						<input class="form-control" type="text" id="append-start-date" name="start_date" readonly>
						<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
					</div>
				</div>
				<div class="col-sm-6 form-div">
					<div class="control-label">返回日期</div>
					<div class="input-group date form_date" data-date-format="yyyy-mm-dd hh">
						<input class="form-control" type="text" id="append-end-date" name="end_date" readonly>
						<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
					</div>
				</div>
				<div class="col-sm-6 form-div">
					<div class="control-label">出差地点</div>
					<div class="input-group">
						<input type="input"  class="form-control" id="append-place" name="place">
						<span class="input-group-addon"></span>
					</div>
				</div>
				<div class="col-sm-6 form-div">
					<div class="control-label">出差事由</div>
					<div class="input-group">
						<input type="input"  class="form-control" id="append-reason" name="reason">
						<span class="input-group-addon"></span>
					</div>
				</div>
				<div class="col-sm-12 form-div" style="text-align: right;">
					<hr style="margin: 5px auto;">
					<input type="checkbox" id="append-summary-switch" data-on-label="申请" data-off="success" data-off-label="总结" checked/>
				</div>
				<div id="append-summary-div" style="display: none;">
					<div class="col-sm-12">
						<div style="text-align: center;">总结</div>
					</div>
					<div class="col-sm-6 form-div">
						<div class="control-label">文件上传</div>
						<input type="file" class="btn-success" id="append-attachment-new" name="attachment_new" />
						<br>
						<a href="__ROOT__/外联处出差-走访-外出办公总结表.doc">模版下载</a>	
					</div>
					<div class="col-sm-6 form-div">
						<div class="alert alert-danger" >
							<div id="append-attachment"></div>
							上传附件将会覆盖上一次附件，允许格式为doc
						</div>
					</div>
					<div class="col-sm-12">
						<div style="text-align: center;">出差花费</div>
						<div class="" style="padding-bottom: 50px;">
							<input type="hidden" id="append-cost" name="cost">
							<table class="table table-condensed">
								<thead>
									<tr>
										<th>类型</th>
										<th>详情</th>
										<th>金额</th>
									</tr>
								</thead>
								<tbody>
									<tr id="cost-input">
										<td width="33%">
											<div class="control-content">
												<select id="cost-type-select" class="form-control">
													<option value="市外差旅费">市外差旅费</option>
													<option value="市内交通费">市内交通费</option>
													<option value="餐费">餐费</option>
													<option value="其他">其他</option>
												</select>
											</div>
										</td>
										<td width="33%">
											<input class="form-control" id="cost-detail-input" type="text">
										</td>
										<td width="33%">
											<input class="form-control" id="cost-cost-input" type="text" style="text-align: right;">
										</td>
										<td>
											<button type="button" class="btn btn-success" onclick="addCost(this)">添加</button>
										</td>	
									</tr>
									<tr>
										<td>
										</td>
										<td>
											<strong>金额总计</strong>	
										</td>
										<td>
											<input type="input"  id="append-cost-sum" class="form-control" style="text-align: right;" readonly="">									
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-div" style="text-align: center;">
					<br>
					<button style="min-width:150px;width:30%;" type="button" id="append-submit" data-loading-text="提交中。。" class="btn btn-success "onclick="onSubmit()">
					提交
					</button>
				</div>	
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
	$(function(){
		$('#append-form .form_date').datetimepicker({  
			language:"zh-CN",
			weekStart: 1,
			todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			minView:1,
			forceParse: 0
    	});

		$('#append-attachment-new').bootstrapFileInput();

    	$("#append-summary-switch").bootstrapSwitch();
    	$("#append-summary-switch").on('switch-change', 
    		function (e, data){
				if(data.value){
					$("#append-summary-div").fadeOut("fast");
					$("#append-is-summary").val(0);
				}
				else{
					$("#append-summary-div").fadeIn("fast");
					$("#append-is-summary").val(1);
				}
		});
	});
	
	//添加申请
	function addErrand(){
		$("#append-panel .panel-title").text("提交出差记录");
		$("#append-errand-id").val("");
		$("#append-date").val(new Date().format("yyyy-MM-dd"));
		$("#append-start-date").val("");
		$("#append-end-date").val("");
		$("#append-place").val("");
		$("#append-reason").val("");
		$("#append-cost").val("");
		$("#cost-input").siblings().slice(0,-1).remove();
		$("#append-summary-switch").removeAttr("disabled");
		$("#append-summary-div").hide();
		$("#append-is-summary").val(0);
		$("#append-cost-sum").val(0);

		$("#append-panel").show();
		$(document.body).animate({scrollTop:$("#append-panel").offset().top-60}, 300);
		$(document.documentElement).animate({scrollTop:$("#append-panel").offset().top-60}, 300);
	}

	//编辑申请
	function editErrand(data){
		$("#append-panel .panel-title").text("修改出差记录");
		$("#append-errand-id").val(data.errand_id);
		$("#append-date").val(data.date);
		$("#append-start-date").val(data.start_date+" "+data.start_time.substr(0,2));
		$("#append-end-date").val(data.end_date+" "+data.end_time.substr(0,2));
		$("#append-place").val(data.place);
		$("#append-reason").val(data.reason);
		if(data.check_status == 1){
			$("#append-summary-switch").bootstrapSwitch('setState', true);
			$("#append-summary-switch").removeAttr("disabled");
			$("#append-summary-div").hide();
			$("#append-is-summary").val(0);
		}
		else{
			$("#append-summary-switch").bootstrapSwitch('setState', false);
			$("#append-summary-switch").attr("disabled","disabled");
			$("#append-summary-div").show();
			$("#append-is-summary").val(1);

			$("#append-cost").val(data.cost);

			if(data.attachment_name==null){
				$("#append-attachment").html("");
			}else{
				$("#append-attachment").html('已存在文件：'+createDlHref(data.attachment_path,data.attachment_name));
			}			

			//显示报销金额
			$("#cost-input").siblings().slice(0,-1).remove();
			try{
				var costList = JSON.parse(data.cost);
				var cost_trList = new Array();
				var costSum = 0;
				for (var i = 0; i < costList.length; i++){
					var cost_tr = $(document.createElement("tr"));
					cost_tr.append("<td>" + costList[i].type + "</td>");
					cost_tr.append("<td>" + costList[i].detail + "</td>");
					cost_tr.append("<td>" + costList[i].cost + "</td>");
					costSum += parseInt(costList[i].cost);
					cost_tr.append('<td><button type="button" class="btn btn-xs btn-danger" onclick="deletecost(this)">删除</button></td>');
					cost_trList.push(cost_tr);
				}
				$("#append-cost-sum").val(costSum);
				$("#cost-input").before(cost_trList);
			}
			catch(err){}
		}

		$("#append-panel").show();
		$(document.body).animate({scrollTop:$("#append-panel").offset().top-60}, 300);
		$(document.documentElement).animate({scrollTop:$("#append-panel").offset().top-60}, 300);
	}

	function onSubmit(){
	  	if($("#append-start-date").val() == ""){
	  		showModalResult(false,"提示","请选择出发时间",false);
			return;
		}
		if($("#append-end-date").val() == ""){
			showModalResult(false,"提示","请选择返回时间",false);
			return;
		}	
		if($("#append-place").val() == ""){
			showModalResult(false,"提示","请填写出差地点",false);
			return;
		}	
		if($("#append-reason").val().length < 3){
			showModalResult(false,"提示","请认真填写出差原因",false);
			return;
		}

		var costList_trList = $("#cost-input").siblings();
		var costList = new Array();
		for (var i = 0; i < costList_trList.length-1; i++){
			var cost_tdList = $(costList_trList[i]).children();
			cost = new Object();
			cost.type = $(cost_tdList[0]).text();
			cost.detail = $(cost_tdList[1]).text();
			cost.cost = $(cost_tdList[2]).text();
			costList.push(cost);
		};
		$("#append-cost").val(JSON.stringify(costList));

		append_submit("{:U('Errand/submitErrand')}",$("#append-form"),"提交结果","提交成功");
	
	}

	function addCost(button){
		if($("#cost-detail-input").val() == "" ||
			$("#cost-cost-input").val() == ""){
			showModalResult(false,"输入错误","请输入金额",false);
			return;
		}
		var cost =$("#cost-cost-input").val();
		if(parseInt(cost) != cost){
			showModalResult(false,"输入错误","请正确输入金额",false);
			return;
		}

		var cost_tr = $(document.createElement("tr"));
		cost_tr.append("<td>" + $("#cost-type-select").val() + "</td>");
		cost_tr.append("<td>" + $("#cost-detail-input").val() + "</td>");
		cost_tr.append("<td>" + $("#cost-cost-input").val() + "</td>");
		cost_tr.append('<td><button type="button" class="btn btn-xs btn-danger" onclick="deleteCost(this)">删除</button></td>');
		cost_tr.hide();
		$('#cost-input').before(cost_tr);
		cost_tr.fadeIn("fast");


		$("#cost-detail-input").val("");
		$("#cost-cost-input").val("");
		sumCost();
	}

	function deleteCost(button){
		var cost_tr = $(button).parent().parent();
		cost_tr.fadeOut("fast",function(){cost_tr.remove();sumCost();});
		
	}

	function sumCost(){
		var costList_trList = $("#cost-input").siblings();
		var sumCost = 0;
		for (var i = 0; i < costList_trList.length-1; i++){
			var cost_tdList = $(costList_trList[i]).children();
			sumCost+=parseInt($(cost_tdList[2]).text());
		}
		$("#append-cost-sum").val(sumCost);
	}
</script>