{//个人中心-出差列表-提交申请页面} 

{//个人中心-出差列表-提交结果模态框} 


{//个人中心-出差列表-提交表单} 
<div class="panel panel-success" id="append-panel" style="display:none;">
	<div class="panel-heading">
		<h3 class="panel-title"></h3>
	</div>
	<div class="panel-body">
		<form id="append-form">
			<input type="hidden" id="append-errand-id" name="errand_id">
			<div class="row">	
				<div class="col-lg-4 col-sm-6 form-div">
					<div class="form-label">人员姓名</div>
					<div class="input-group">
						<input type="input"  class="form-control" readonly="" value="{:get_username()}">
						<span class="input-group-addon"></span>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 form-div">
					<div class="form-label">所属部门</div>
					<div class="input-group">
						<input type="input"  class="form-control" readonly="" value="{:get_department_name()}">
						<span class="input-group-addon"></span>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 form-div">
					<div class="form-label">申请日期</div>
					<div class="input-group">
						<input type="input"  class="form-control" id="append-date" readonly="">
						<span class="input-group-addon"></span>
					</div>
				</div>
				<div class="clearfix visible-md visible-sm"></div>
				<div class="col-sm-6 form-div">
					<div class="form-label">出发日期</div>
					<div class="input-group date form_date"  data-date-format="yyyy-mm-dd">	
						<input class="form-control" type="text" id="append-start-date" name="start_date" readonly>
						<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
					</div>
				</div>
				<div class="col-sm-6 form-div">
					<div class="form-label">返回日期</div>
					<div class="input-group date form_date" data-date-format="yyyy-mm-dd">
						<input class="form-control" type="text" id="append-end-date" name="end_date" readonly>
						<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
					</div>
				</div>
				<div class="col-sm-6 form-div">
					<div class="form-label">出差地点</div>
					<div class="input-group">
						<input type="input"  class="form-control" id="append-place" name="place">
						<span class="input-group-addon"></span>
					</div>
				</div>
				<div class="col-sm-6 form-div">
					<div class="form-label">出差事由</div>
					<div class="input-group">
						<input type="input"  class="form-control" id="append-reason" name="reason">
						<span class="input-group-addon"></span>
					</div>
				</div>
				<div class="col-sm-12 form-div">
					<hr style="margin: 5px auto;">
				</div>
				<div class="col-sm-12">
					<div style="text-align: center;">出差/走访/办公对象联系方式</div>
					<div class="table-responsive">
						<input type="hidden" id="append-object" name="object">
						<table class="table table-condensed">
							<thead>
								<tr>
									<th>姓名</th>
									<th>性别</th>
									<th>单位</th>
									<th>职务</th>
									<th>联系方式</th>							
									<th>校友</th>
								</tr>
							</thead>
							<tbody>
								<tr id="object-input">
									<td>
										<input class="form-control" id="object-name-input" type="text">
									</td>
									<td>
										<input class="form-control" id="object-sex-input" type="text">
									</td>
									<td>
										<input class="form-control" id="object-department-input" type="text">
									</td>
									<td>
										<input class="form-control" id="object-position-input" type="text">
									</td>
									<td>
										<input class="form-control" id="object-contact-input" type="text">
									</td>
									<td>
										<input class="form-control" id="object-alumni-input" type="text">
									</td>
									<td>
										<button type="button" class="btn btn-success" onclick="addObject(this)">添加</button>
									</td>	
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-sm-12 form-div">
					<div class="form-label">总结</div>
					<div class="textarea">
					<textarea type="" class="form-control" id="append-summary" name="summary" style="min-height:40px;"> </textarea>
					</div>
				</div>
				<div class="col-sm-12">
					<div style="text-align: center;">出差花费</div>
					<div class="table-responsive" style="padding-bottom: 50px;">
						<input type="hidden" id="append-cost" name="cost">
						<table class="table table-condensed">
							<thead>
								<tr>
									<th>类型</th>
									<th>详情</th>
									<th>金额</th>
								</tr>
							</thead>
							<tbody>
								<tr id="cost-input">
									<td width="33%">
										<div class="input-group">
											<select id="cost-type-select" class="selectpicker">
												<option value="交通工具">交通工具</option>
												<option value="饮食">饮食</option>
												<option value="其他">其他</option>
											</select>
										</div>
									</td>
									<td width="33%">
										<input class="form-control" id="cost-detail-input" type="text">
									</td>
									<td width="33%">
										<input class="form-control" id="cost-cost-input" type="text" style="text-align: right;">
									</td>
									<td>
										<button type="button" class="btn btn-success" onclick="addCost(this)">添加</button>
									</td>	
								</tr>
								<tr>
									<td>
									</td>
									<td>
										<strong>金额总计</strong>	
									</td>
									<td>
										<input type="input"  id="append-cost_sum" class="form-control"  name="cost_sum" style="text-align: right;">									
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-div" style="text-align: center;">
					<br>
					<button style="min-width:150px;width:30%;" type="button" id="append-submit" data-loading-text="提交中。。" class="btn btn-success">
					提交
					</button>
				</div>	
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
	$(function(){
			$('#append-form .form_date').datetimepicker({  
				language:"zh-CN",
				weekStart: 1,
				todayBtn:  1,
				autoclose: 1,
				todayHighlight: 1,
				startView: 2,
				minView:2,
				forceParse: 0
	    	});
	});
	
	//添加申请
	function addErrand(){
		$("#append-submit").unbind();
		$("#append-submit").click(function(){onAdd_EditSubmit('add');});

		$("#append-panel .panel-title").text("提交出差记录");
		$("#append-errand-id").val("");
		$("#append-date").val(new Date().format("yyyy-MM-dd"));
		$("#append-start-date").val("");
		$("#append-end-date").val("");
		$("#append-place").val("");
		$("#append-reason").val("");
		$("#append-cost").val("");
		$("#append-summary").val("");
		$("#append-cost_sum").val("");
		$("#object-input").siblings().remove();
		$("#cost-input").siblings().slice(0,-1).remove();

		$("#append-panel").show();
		$.scrollTo($("#append-panel").offset().top-60,300);
	}

	//编辑申请
	function editErrand(data){
		$("#append-submit").unbind();
		$("#append-submit").click(function(){onAdd_EditSubmit('edit');});

		$("#append-panel .panel-title").text("修改出差记录");
		$("#append-errand-id").val(data.errand_id);
		$("#append-date").val(data.date);
		$("#append-start-date").val(data.start_date);
		$("#append-end-date").val(data.end_date);
		$("#append-place").val(data.place);
		$("#append-reason").val(data.reason);
		$("#append-cost").val(data.cost);
		$("#append-summary").val(data.summary);
		$("#append-cost_sum").val(data.cost_sum);

		//显示出差对象
		$("#object-input").siblings().remove();
		try{
			var objectList = JSON.parse(data.object);
			var object_trList = new Array();
			for (var i = 0; i < objectList.length; i++){
				var object_tr = $(document.createElement("tr"));
				object_tr.append("<td>" + objectList[i].name + "</td>");
				object_tr.append("<td>" + objectList[i].sex + "</td>");
				object_tr.append("<td>" + objectList[i].department + "</td>");
				object_tr.append("<td>" + objectList[i].position + "</td>");
				object_tr.append("<td>" + objectList[i].contact + "</td>");
				object_tr.append("<td>" + objectList[i].alumni + "</td>");
				object_tr.append('<td><button type="button" class="btn btn-xs btn-danger" onclick="deleteObject(this)">删除</button></td>');
				object_trList.push(object_tr);
			}
			$("#object-input").before(object_trList);
		}
		catch(err){}

		//显示报销金额
		$("#cost-input").siblings().slice(0,-1).remove();
		try{
			var costList = JSON.parse(data.cost);
			var cost_trList = new Array();
			for (var i = 0; i < costList.length; i++){
				var cost_tr = $(document.createElement("tr"));
				cost_tr.append("<td>" + costList[i].type + "</td>");
				cost_tr.append("<td>" + costList[i].detail + "</td>");
				cost_tr.append("<td>" + costList[i].cost + "</td>");
				cost_tr.append('<td><button type="button" class="btn btn-xs btn-danger" onclick="deletecost(this)">删除</button></td>');
				cost_trList.push(cost_tr);
			}
			$("#cost-input").before(cost_trList);
		}
		catch(err){}

		$("#append-panel").show();
		$.scrollTo($("#append-panel").offset().top-60,300);
	}

	function onAdd_EditSubmit(mode){
	  	if($("#append-start-date").val() == ""){
	  		showModalResult(false,"提示","请选择出发时间",false);
			return;
		}
		if($("#append-end-date").val() == ""){
			showModalResult(false,"提示","请选择返回时间",false);
			return;
		}	
		if($("#append-place").val() == ""){
			showModalResult(false,"提示","请填写出差地点",false);
			return;
		}	
		if($("#append-reason").val().length < 3){
			showModalResult(false,"提示","请认真填写出差原因",false);
			return;
		}

		var objectList_trList = $("#object-input").siblings();
		var objectList = new Array();
		for (var i = 0; i < objectList_trList.length; i++){
			var object_tdList = $(objectList_trList[i]).children();
			object = new Object();
			object.name = $(object_tdList[0]).text();
			object.sex = $(object_tdList[1]).text();
			object.department = $(object_tdList[2]).text();
			object.position = $(object_tdList[3]).text();
			object.contact = $(object_tdList[4]).text();
			object.alumni = $(object_tdList[5]).text();
			objectList.push(object);
		};
		$("#append-object").val(JSON.stringify(objectList));

		var costList_trList = $("#cost-input").siblings().slice(0,-1);
		var costList = new Array();
		for (var i = 0; i < costList_trList.length; i++){
			var cost_tdList = $(costList_trList[i]).children();
			cost = new Object();
			cost.type = $(cost_tdList[0]).text();
			cost.detail = $(cost_tdList[1]).text();
			cost.cost = $(cost_tdList[2]).text();
			costList.push(cost);
		};
		$("#append-cost").val(JSON.stringify(costList));


		switch(mode){
			case "add":
				postSubmit("{:U('Errand/addErrand')}",$("#append-form").serialize(),"提交成功",$('#append-submit'),null,"提交结果");
				break;
			case "edit":
				postSubmit("{:U('Errand/editErrand')}",$("#append-form").serialize(),"修改成功",$('#append-submit'),null,"修改结果");
				break;
		}
	
	}

	function addObject(button){
		if($("#object-name-input").val() == "" ||
			$("#object-sex-input").val() == "" ||
			$("#object-department-input").val() == "" ||
			$("#object-position-input").val() == "" ||
			$("#object-contact-input").val() == "" ||
			$("#object-alumni-input").val() == "" ){
			showModalResult(false,"输入错误","请完整填写对象信息",false);
			return
		}
		
		var object_tr = $(document.createElement("tr"));
		object_tr.append("<td>" + $("#object-name-input").val() + "</td>");
		object_tr.append("<td>" + $("#object-sex-input").val() + "</td>");
		object_tr.append("<td>" + $("#object-department-input").val() + "</td>");
		object_tr.append("<td>" + $("#object-position-input").val() + "</td>");
		object_tr.append("<td>" + $("#object-contact-input").val() + "</td>");
		object_tr.append("<td>" + $("#object-alumni-input").val() + "</td>");
		object_tr.append('<td><button type="button" class="btn btn-xs btn-danger" onclick="deleteObject(this)">删除</button></td>');
		object_tr.hide();
		$('#object-input').before(object_tr);
		object_tr.fadeIn("fast");


		$("#object-name-input").val("");
		$("#object-sex-input").val("");
		$("#object-department-input").val("");
		$("#object-position-input").val("");
		$("#object-contact-input").val("");
		$("#object-alumni-input").val("");	
	}


	function deleteObject(button){
		var object = $(button).parent().parent();
		object.fadeOut("fast",function(){object.remove();});
	}


	function addCost(button){
		if($("#cost-detail-input").val() == "" ||
			$("#cost-cost-input").val() == ""){
			showModalResult(false,"输入错误","请输入金额",false);
			return;
		}
		var cost =$("#cost-cost-input").val();
		if(parseInt(cost) != cost){
			showModalResult(false,"输入错误","请正确输入金额",false);
			return;
		}

		var object_tr = $(document.createElement("tr"));
		object_tr.append("<td>" + $("#cost-type-select").val() + "</td>");
		object_tr.append("<td>" + $("#cost-detail-input").val() + "</td>");
		object_tr.append("<td>" + $("#cost-cost-input").val() + "</td>");
		object_tr.append('<td><button type="button" class="btn btn-xs btn-danger" onclick="deleteObject(this)">删除</button></td>');
		object_tr.hide();
		$('#cost-input').before(object_tr);
		object_tr.fadeIn("fast");


		$("#cost-detail-input").val("");
		$("#cost-cost-input").val("");
	}

	function deleteCost(button){
		var object = $(button).parent().parent();
		object.fadeOut("fast",function(){object.remove();});
	}
</script>