{//审批管理-模态框}

<div class="modal fade" id="errand-modal">
	<div class="modal-dialog" style="margin: 10px auto;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<form id="modal-form">
					<input type="hidden" id="modal-errand-id" name="errand_id">
					<input type="hidden" id="modal-is-agree" name="is_agree">
					<div class="row">	
						<div class="col-sm-6 form-div">
							<div class="form-label">人员姓名</div>
							<div class="input-group">
								<input type="input"  id="modal-user" class="form-control" readonly="">
								<span class="input-group-addon"></span>
							</div>
						</div>
						<div class="col-sm-6 form-div">
							<div class="form-label">所属部门</div>
							<div class="input-group">
								<input type="input"  id='modal-department' class="form-control" readonly="">
								<span class="input-group-addon"></span>
							</div>
						</div>
						<div class="col-sm-6 form-div">
							<div class="form-label">申请日期</div>
							<div class="input-group">
								<input type="input"  id="modal-date" class="form-control" readonly="">
								<span class="input-group-addon"></span>
							</div>
						</div>
						<div class="clearfix visible-lg visible-md visible-sm"></div>
						<div class="col-sm-6 form-div">
							<div class="form-label">出发日期</div>
							<div class="input-group date form_date"  data-date-format="yyyy-mm-dd">	
								<input class="form-control" type="text" id="modal-start-date" name="start_date" readonly>
								<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
							</div>
						</div>
						<div class="col-sm-6 form-div">
							<div class="form-label">返回日期</div>
							<div class="input-group date form_date" data-date-format="yyyy-mm-dd">
								<input class="form-control" type="text" id="modal-end-date" name="end_date" readonly>
								<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
							</div>
						</div>
						<div class="col-sm-12 form-div">
							<div class="form-label">出差地点</div>
							<div class="input-group">
								<input type="input"  class="form-control" id="modal-place" name="place" readonly="">
								<span class="input-group-addon"></span>
							</div>
						</div>
						<div class="col-sm-12 form-div">
							<div class="form-label">出差事由</div>
							<div class="input-group">
								<input type="input"  class="form-control" id="modal-reason" name="reason" readonly="">
								<span class="input-group-addon"></span>
							</div>
						</div>
						<div class="col-sm-12 form-div">
							<hr style="margin: auto;">
						</div>
						<div id="modal-summary-div" style="display: none;">				
							<div class="col-sm-12 form-div">
								<div style="text-align: center;">总结</div>
								<div id="modal-attachment"></div>
							</div>
							<div class="col-sm-12 form-div">
								<hr style="margin: auto;">
							</div>
							<div class="col-sm-12 form-div">
								<div style="text-align: center;">报销金额</div>
								<div class="table-responsive">
									<table class="table table-condensed">
										<thead>
											<tr>
												<th>类型</th>
												<th>详情</th>
												<th>金额</th>
											</tr>
										</thead>
										<tbody id="modal-cost-tbody">
											<tr>
												<td>
												</td>
												<td>
													<strong>金额总计</strong>	
												</td>
												<td>
													<span id="modal-cost-sum" style="text-align: right;" ></span>				
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="col-sm-12" style="text-align: center;">审批情况</div>
							<div class="col-sm-6 form-div">
								<div class="form-label">审批时间</div>
								<div class="input-group">
									<input type="input"  id='modal-check-datetime' class="form-control" readonly="">
									<span class="input-group-addon"></span>
								</div>
							</div>
							<div class="col-sm-6 form-div">
								<div class="form-label">审批状态</div>
								<div class="div-check-status">
									<button type="button" class="btn btn-sm btn-info btn-check-status2">等待审批</button>
									<button type="button" class="btn btn-sm btn-success btn-check-status3">申请通过</button>
									<button type="button" class="btn btn-sm btn-danger btn-check-status4">申请驳回</button>
									<span class="" id="modal-checker"></span>
								</div>
							</div>
							<div class="col-sm-12 form-div">
								<div class="form-label">审批批注</div>	
								<div class="input-group">
									<input type="input" id="modal-check-comment" name="check_comment" class="form-control" readonly="">
									<span class="input-group-addon"></span>
								</div>			
							</div>
						</div>
					</div>
				</form>
				<div class="alert alert-danger" id="modal-alert" style="margin-bottom: 0px;"></div>
			</div>
			<div class="modal-footer" style="margin-top: auto; white-space: nowrap;">
				<button type="button" class="btn btn-primary btn-modal-view" data-dismiss="modal">确定</button>
				<button type="button" class="btn btn-default btn-modal-approbate btn-modal-delete" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-success btn-modal-approbate" onclick="onApprobateSubmit(true)">审批通过</button>
				<button type="button" class="btn btn-danger btn-modal-approbate" onclick="onApprobateSubmit(false)">审批驳回</button>
				<button type="button" class="btn btn-danger btn-modal-delete" onclick="onDeleteSubmit()">确认删除</button>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	function reset(data){
		$(".div-check-status").children().hide();
		$("#errand-modal .modal-footer").children().hide();
		$("#errand-modal .alert").hide();

		$("#modal-errand-id").val(data.errand_id);
		$("#modal-department").val(data.department_name);
		$("#modal-user").val(data.alias);
		$("#modal-date").val(data.date);
		$("#modal-start-date").val(data.start_date);
		$("#modal-end-date").val(data.end_date);
		$("#modal-place").val(data.place);
		$("#modal-reason").val(data.reason);

		if(data.check_status == 1){ //申请阶段
			$("#modal-summary-div").hide();
		}else{ //审核阶段
			$("#modal-summary-div").show();
			$(".btn-check-status"+data.check_status).show();
			$("#modal-check-datetime").val(data.check_datetime);
			$("#modal-check-comment").val(data.check_comment);
			$("#modal-checker").text(data.check_status > 2 && data.checker!=null?"by "+data.checker:"").show();

			if(data.attachment_name==null){
				$("#modal-attachment").html("");
			}else{
				$("#modal-attachment").html(createDlHref(data.attachment_path,data.attachment_name));
			}

			//显示报销金额
			$("#modal-cost-tbody").children().slice(0,-1).remove();
			try{
				var costList = JSON.parse(data.cost);
				var cost_trList = new Array();
				var costSum = 0;
				for (var i = 0; i < costList.length; i++){
					var cost_tr = $(document.createElement("tr"));
					cost_tr.append("<td>" + costList[i].type + "</td>");
					cost_tr.append("<td>" + costList[i].detail + "</td>");
					cost_tr.append("<td>" + costList[i].cost + "</td>");
					costSum += parseInt(costList[i].cost);
					cost_trList.push(cost_tr);
				}
				$("#modal-cost-tbody").prepend(cost_trList);
				$("#modal-cost-sum").text(costSum);
			}
			catch(err){}
		}
	}

	function viewErrand(data){
		reset(data);
		$("#errand-modal .modal-title").text("查看申请");
		$("#modal-check-comment").attr("readonly","");
		$(".btn-modal-view").show();

		$('#errand-modal').modal({backdrop:"static"});
	}

	function deleteErrand(data){
		reset(data);

		$("#errand-modal .modal-title").text("删除申请");
		$("#modal-check-comment").attr("readonly","");
		$(".btn-modal-delete").show();

		$("#errand-modal .alert").text("您确定要删除该条记录吗？");
		$("#errand-modal .alert").show();

		$('#errand-modal').modal({backdrop:"static"});
	}

	function onDeleteSubmit(){
		modal_submit("{:U('Errand/deleteErrand')}",$("#modal-form"),"删除成功",$("#modal-alert"));
	}
	
	function approbateErrand(data){
		reset(data);
		$("#errand-modal .alert").hide();

		$("#errand-modal .modal-title").text("审批申请");
		$("#modal-check-comment").removeAttr("readonly");
	
		$(".btn-modal-approbate").show();
		$('#errand-modal').modal({backdrop:"static"});
	}

	function onApprobateSubmit(isAgree){	
		$('#modal-is-agree').val(isAgree?"true":"false");
		modal_submit("{:U('Errand/approbateErrand')}",$("#modal-form"),"审批成功",$("#modal-alert"));
	}
</script>