<include file="./Application/Home/View/header.html" /> 

<div class="login">
	<div class="login-screen">
		<div class="login-icon">
			<img src="__PUBLIC__/images/login/icon.png" alt="Welcome to Mail App">
			<h4>欢迎使用<br/><small style="color: #ffffff;">外联处管理系统</small></h4>
		</div>

		<div class="login-form">
		<form id="loginform">
			<div class="form-group">
				<input type="text" class="form-control login-field" value="" placeholder="工号" name="username" id="login-name">					
				<label class="login-field-icon fui-user glyphicon glyphicon-user" for="login-name"></label>
			</div>

			<div class="form-group">
				<input type="password" class="form-control login-field" value="" placeholder="密码" name="password" id="login-pass">
				<label class="login-field-icon fui-lock glyphicon glyphicon-lock"  for="login-pass"></label>
			</div>
			<h2 style="color: #F00; font-size: 15px" id="tooltip"></h2>
			<a class="btn btn-primary btn-lg btn-block" style="background-image:none;" onclick="login()" >登录</a>	
		</form>
		</div>
	</div>
</div>  

<script type="text/javascript">
var doLogin = false;

function login() {
	if(doLogin)
		return false;
	doLogin = true;
	$.post('{:U('chklogin')}', $("#loginform").serialize(), function(result) {
		doLogin = false;
		if(result == 'ok')
			document.location.href = '{:U('Index/index')}';
		else {
			$('#tooltip').text(result);
			$('#tooltip').animate({textIndent:10}, 100)
							.animate({textIndent:0}, 100)
							.animate({textIndent:10}, 100)
							.animate({textIndent:0}, 100)
		}
	}).error(function() {
		doLogin = false;
	});
	return false;
}

document.onkeydown = function(evt){
  　 var evt = window.event?window.event:evt;
   　if (evt.keyCode==13) {
	   login();
   　}
}
</script>

<include file="./Application/Home/View/footer.html" />