{//个人中心-加班订餐-提交申请页面} 

{//个人中心-加班订餐-提交表单} 
<div class="panel panel-success" id="append-panel" style="display:none;">
	<div class="panel-heading">
		<h3 class="panel-title"></h3>
	</div>
	<div class="panel-body">
		<form id="append-form">
			<input type="hidden" id="append-order-id" name="order_id">
			<div class="row">	
				<div class="col-lg-4 col-sm-6 form-div">
					<div class="control-label">人员姓名</div>
					<div class="input-group">
						<input type="input"  class="form-control" readonly="" value="{:get_username()}">
						<span class="input-group-addon"></span>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 form-div">
					<div class="control-label">所属部门</div>
					<div class="input-group">
						<input type="input"  class="form-control" readonly="" value="{:get_department_name()}">
						<span class="input-group-addon"></span>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 form-div">
					<div class="control-label">申请日期</div>
					<div class="input-group">
						<input type="input"  class="form-control" id="append-datetime" readonly="">
						<span class="input-group-addon"></span>
					</div>
				</div>
				<div class="col-sm-12 form-div">
					<div class="control-label">订餐地点</div>
					<div class="input-group">
						<input class="form-control" id="append-place" name="place">
						<span class="input-group-addon"></span>
					</div>
				</div>
				<div class="col-sm-12 form-div">
					<div class="control-label">订餐原因</div>
					<div class="input-group">
						<input class="form-control" id="append-reason" name="reason">
						<span class="input-group-addon"></span>
					</div>
				</div>
				<div class="col-sm-6 form-div">
					<div class="control-label">订餐人数</div>
					<div class="input-group">
						<input class="form-control" id="append-number" name="number">
						<span class="input-group-addon"></span>
					</div>
				</div>
				<div class="col-sm-6 form-div">
					<div class="control-label">每人餐标</div>
					<div class="input-group">
						<input class="form-control" id="append-standard" name="standard">
						<span class="input-group-addon"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-div" style="text-align: center;">
					<br>
						<button style="min-width:150px;width:30%;" type="button" id="append-submit" data-loading-text="提交中。。" class="btn btn-success" onclick="onSubmit()">
							提交
						</button>
				</div>	
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
	function addOrder(){	
		$("#append-panel .panel-title").text("提交申请");
		$("#append-order-id").val("");
		$("#append-datetime").val(new Date().format("yyyy-MM-dd"));
		$("#append-place").val("");
		$("#append-reason").val("");
		$("#append-number").val("");
		$("#append-standard").val("");

		$("#append-panel").show();
		$(document.body).animate({scrollTop:$("#append-panel").offset().top-60}, 300);
		$(document.documentElement).animate({scrollTop:$("#append-panel").offset().top-60}, 300);
	}

	function editOrder(data){
		$("#append-panel .panel-title").text("修改申请");
		$("#append-order-id").val(data.order_id);
		$("#append-datetime").val(data.datetime);
		$("#append-place").val(data.place);
		$("#append-reason").val(data.reason);
		$("#append-number").val(data.number);
		$("#append-standard").val(data.standard);

		$("#append-panel").show();
		$(document.body).animate({scrollTop:$("#append-panel").offset().top-60}, 300);
		$(document.documentElement).animate({scrollTop:$("#append-panel").offset().top-60}, 300);
	}

	function onSubmit(){
		if($("#append-place").val() == ""){
			showModalResult(false,"输入错误","请输入订餐地点",false);
			return;
		}
		if($("#append-reason").val() == ""){
			showModalResult(false,"输入错误","请输入订餐原因",false);
			return;
		}
		var number = $("#append-number").val();
		if(parseInt(number) != number){
			showModalResult(false,"输入错误","请输入订餐人数",false);
			return;
		}
		var standard = $("#append-standard").val();
		if(parseInt(standard) != standard){
			showModalResult(false,"输入错误","请输入每人标准",false);
			return;
		} 

		append_submit("{:U('Order/submitOrder')}",$("#append-form"),"提交结果","提交成功");
	}		
</script>