{//个人中心-加班订餐申请-查询页面}


<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">订餐申请
			<a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#query-condition-collapse">
				<small>折叠/显示搜索条件</small>
			</a>
		</h3>
	</div>
	<div class="panel-body">
		<div id="query-condition-collapse" class="panel-collapse collapse in">
			<form id="query-form">
				<div class="row">	
					<div class="col-lg-4 col-sm-6 form-div">
						<div class="form-label">开始日期</div>
						<div class="input-group date form_date" data-date-format="yyyy-mm-dd">	
							<input class="form-control" size="16" type="text" value="{$condition['start_date']}" name="start_date" readonly>
							<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 form-div">
						<div class="form-label">结束日期</div>
						<div class="input-group date form_date" data-date-format="yyyy-mm-dd">
							<input class="form-control" size="16" type="text" value="{$condition['end_date']}" name="end_date" readonly>
							<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 form-div">
						<div class="form-label">审批情况</div>
						<div class="input-group">
							<select name="check_status" class="selectpicker">
								<option value="0">全部</option>
								<option value="1">等待审批</option>
								<option value="2">审批通过</option>
								<option value="3">审批驳回</option>
							</select>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 form-div">
						<div class="form-label">编辑模式</div>
						<div class="input-group">									
							<input id="switch-edit" type="checkbox">
						</div>
					</div>
					<div class="clearfix visible-md visible-sm"></div>
					<div class="col-lg-4 col-sm-6 form-div">
						<div class="form-label">每页显示</div>
						<div class="input-group">
							<input type="input" name="per_page" value="{$condition['per_page']}" class="form-control">
							<span class="input-group-addon"></span>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 form-div">
						<div style="input-group; text-align: center;">
							<button style="width:45%" type="button" onclick="addOrder()" class="btn btn-success">新申请</button>
							&nbsp;
							<button style="width:45%" type="button" id="btn-search" onclick="onSearch()" data-loading-text="查找中。。。" class="btn btn-primary">查找</button>
						</div>
					</div>	
				</div>
			</form>
		</div>

		<div class="table-responsive">
			<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th>申请日期</th>
						<th>订餐地点</th>
						<th>申请金额</th>
						<th>审批状态</th>
						<th></th>
					</tr>
				</thead>
				<tbody> 		
				<foreach name="orderList" item="record">		
					<tr>
						<td>{$record['date']}</td>
						<td>{$record['place']}</td>
						<td>{$record['cost']}</td>
						<td>
							<switch name="record['check_status']">
								<case value="1">
									<button type="button" class="btn btn-xs btn-info">等待审批</button>
								</case>
								<case value="2">
									<button type="button" class="btn btn-xs btn-success">审批通过</button>
								</case>
								<case value="3">
									<button type="button" class="btn btn-xs btn-danger">审批驳回</button>
								</case>
							</switch>
						</td>
						<td style="text-align: right;">
							<button type="button" class="btn btn-xs btn-primary btn-view">查看</button>
							<button type="button" class="btn btn-xs btn-warning btn-edit" disabled="disabled">修改</button>
							<button type="button" class="btn btn-xs btn-danger btn-delete" disabled="disabled">删除</button>
						</td>	
					</tr>
				</foreach>
				</tbody>
			</table>
		</div>
		<div style="display:none;" id="old-page">
			{$pageHtml}
		</div>

		<div style="text-align: center;">
			<ul class="pagination" style="margin-top:0;">
			</ul>
		</div>
	</div>
</div>



<script type="text/javascript">

	var orderList = {:json_encode($orderList)};
	$(function(){
		if(getCookie('page') != "home-order"){
			setCookie('switch-edit',0);
			setCookie('collapse',0);
		}

		//===控件初始化===
		//状态筛选
		$("select[name='check_status'] option[value='{$condition['check_status']}']").attr("selected", "selected");
		$('.selectpicker').selectpicker('refresh');
		//编辑开关
		if(getCookie('switch-edit') == 1){
			$("#query-form #switch-edit").bootstrapSwitch('setState', true);
			$('.btn-edit').removeAttr('disabled');
			$('.btn-delete').removeAttr('disabled');
		}
		$("#query-form #switch-edit").bootstrapSwitch();
		//搜索条件折叠
		if(getCookie('collapse') == 1){
			$('#query-condition-collapse').collapse('hide');
		}
		//日期选择器
		$('#query-form .form_date').datetimepicker({
			language: 'zh-CN',
			weekStart: 1,
			todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			minView: 2,
			forceParse: 0
		});		
		
		create_page($("div#old-page"),$("ul.pagination"));	
		
		$("#switch-edit").on('switch-change', function (e, data){
			if(data.value){
				$('.btn-edit').removeAttr('disabled');
				$('.btn-delete').removeAttr('disabled');
				setCookie('switch-edit',1);
			}
			else{
				$('.btn-edit').attr('disabled','disabled');
				$('.btn-delete').attr('disabled','disabled');
				setCookie('switch-edit',0);
			}
				
		});


		$('#query-condition-collapse').on('hidden.bs.collapse', function(){
			setCookie('collapse',1);
		});
		$('#query-condition-collapse').on('shown.bs.collapse', function(){
			setCookie('collapse',0);
		});

		$(".btn-edit").click(function(e){
			var index = $(e.target).parent().parent().index();
			editOrder(orderList[index]);
		});

		$(".btn-delete").click(function(e){
			var index = $(e.target).parent().parent().index();
			deleteOrder(orderList[index]);
		});

		$(".btn-view").click(function(e){
			var index = $(e.target).parent().parent().index();
			viewOrder(orderList[index]);
		});
	});

	function onSearch(){
		$('#btn-search').button('loading');
		window.location.href = "{:U('Main/order')}"+"&"+$("#query-form").serialize();
	}
</script>


	