{//个人中心-请假申请-提交申请页面} 


{//个人中心-借用申请-提交表单} 
<div class="panel panel-success" id="append-panel" style="display:none;">
	<div class="panel-heading">
		<h3 class="panel-title"></h3>
	</div>
	<div class="panel-body">
		<form id="append-form">
			<input type="hidden" id="append-borrow-id" name="borrow_id">
			<div class="row">	
				<div class="col-lg-4 col-sm-6 form-div">
					<div class="control-label">人员姓名</div>
					<div class="input-group">
						<input type="input"  class="form-control" readonly="" value="{:get_username()}">
						<span class="input-group-addon"></span>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 form-div">
					<div class="control-label">所属部门</div>
					<div class="input-group">
						<input type="input"  class="form-control" readonly="" value="{:get_department_name()}">
						<span class="input-group-addon"></span>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 form-div">
					<div class="control-label">申请日期</div>
					<div class="input-group">
						<input type="input"  class="form-control" id="append-date" readonly="">
						<span class="input-group-addon"></span>
					</div>
				</div>
				<div class="col-sm-12 form-div table-responsive">
					<table class="table table-condensed table-hover">
						<thead>
							<tr>
								<th></th>
								<th>编号</th>
								<th>设备名称</th>
								<th>设备配件</th>
							</tr>
						</thead>
						<tbody> 
						<foreach name="goodsList" item="goods">
							<tr>
								<td>
									<input type="radio" name="goods_id" id="append-goods{$goods['goods_id']}" value="{$goods['goods_id']}" checked>
								</td>
								<td>{$goods['goods_sn']}</td>
								<td>{$goods['goods_name']}</td>
								<td>{$goods['goods_parts']}</td>
							</tr>
						</foreach>
						</tbody>
					</table>
				</div>

				<div class="col-sm-6 form-div">
					<div class="control-label">借出日期</div>
					<div class="input-group date form_date"  data-date-format="yyyy-mm-dd">	
						<input class="form-control" type="text" id="append-start-date" name="start_date" readonly>
						<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
					</div>
				</div>
				<div class="col-sm-12 form-div">
					<div class="control-label">借用原因和具体用途</div>
					<div class="textarea">
					<textarea type="" class="form-control" id="append-reason" name="reason" style="min-height:100px;"> </textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-div" style="text-align: center;">
					<br>
					<button style="min-width:150px;width:30%;" type="button" id="append-submit" data-loading-text="提交中。。" class="btn btn-success" onclick="onSubmit()">
					提交
					</button>
				</div>	
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
	$(function(){
		//初始化日期选择插件
		$('#append-form .form_date').datetimepicker({  
			language:"zh-CN",
			weekStart: 1,
			todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			minView:2,
			forceParse: 0
    	});	
	});
	
	function addBorrow(){	
		$("#append-submit").unbind();
		$("#append-submit").click(function(){onSubmit('add');});

		$("#append-panel .panel-title").text("提交申请");
		$("#append-borrow-id").val("");
		$("#append-date").val(new Date().format("yyyy-MM-dd"));
		$("#append-start-date").val("");
		$("#append-end-date").val("");
		$("#append-reason").val("");
		$("#append-goods1").click();

		$("#append-panel").show();
		$(document.body).animate({scrollTop:$("#append-panel").offset().top-60}, 300);
		$(document.documentElement).animate({scrollTop:$("#append-panel").offset().top-60}, 300);
	}

	//编辑签到申请
	function editBorrow(data){
		$("#append-submit").unbind();
		$("#append-submit").click(function(){onSubmit('edit');});

		$("#append-panel .panel-title").text("修改申请");
		$("#append-borrow-id").val(data.borrow_id);
		$("#append-date").val(data.date);
		$("#append-start-date").val(data.start_date);
		$("#append-end-date").val(data.end_date);
		$("#append-reason").val(data.reason);

		$("#append-goods"+data.goods_id).click();
		$("#append-panel").show();
		$(document.body).animate({scrollTop:$("#append-panel").offset().top-60}, 300);
		$(document.documentElement).animate({scrollTop:$("#append-panel").offset().top-60}, 300);
	}

	function onSubmit(){
		if($("#append-start-date").val() == ""){
			showModalResult(false,"提示","请选择借出时间",false);
			return;
		}
		if($("#append-end-date").val() == ""){
			showModalResult(false,"提示","请选择归还时间",false);
			return;
		}	
		if($("#append-goods-name").val() == ""){
			showModalResult(false,"提示","请填写物品名称",false);
			return;
		}	
		if($("#append-reason").val().length < 3){
			showModalResult(false,"提示","请请认真填写借用原因",false);
			return;
		}

		append_submit("{:U('Borrow/submitBorrow')}",$("#append-form"),"提交结果","提交成功");
	}
</script>