{//个人中心-请假申请-提交申请页面} 

{//个人中心-请假申请-提交表单} 
<div class="panel panel-success" id="append-panel" style="display:none;">
	<div class="panel-heading">
		<h3 class="panel-title"></h3>
	</div>
	<div class="panel-body">
		<form id="append-form">
			<input type="hidden" id="append-extra-id" name="extra_id">
			<div class="row">
				<div class="col-lg-4 col-sm-6 form-div">
					<div class="control-label">人员姓名</div>
					<div class="input-group">
						<input type="input"  class="form-control" readonly="" value="{:get_username()}">
						<span class="input-group-addon"></span>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 form-div">
					<div class="control-label">所属部门</div>
					<div class="input-group">
						<input type="input"  class="form-control" readonly="" value="{:get_department_name()}">
						<span class="input-group-addon"></span>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 form-div">
					<div class="control-label">申请日期</div>
					<div class="input-group">
						<input type="input"  class="form-control" id="append-date" readonly="">
						<span class="input-group-addon"></span>
					</div>
				</div>
				<div class="clearfix visible-lg visible-md visible-sm"></div>
				<div class="col-sm-6 form-div">
					<div class="control-label">开始时间</div>
					<div class="input-group date form_date"  data-date-format="yyyy-mm-dd hh">	
						<input class="form-control" type="text" id="append-start-date" name="start_date" readonly>
						<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
					</div>
				</div>
				<div class="col-sm-6 form-div">
					<div class="control-label">结束时间</div>
					<div class="input-group date form_date" data-date-format="yyyy-mm-dd hh">
						<input class="form-control" type="text" id="append-end-date" name="end_date" readonly>
						<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
					</div>
				</div>
				<div class="col-sm-12 form-div">
					<div class="control-label">加班原因</div>
					<div class="textarea">
					<textarea type="" class="form-control" id="append-reason" name="reason" style="min-height:100px;"> </textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-div" style="text-align: center;">
					<br>
					<button style="min-width:150px;width:30%;" type="button" id="append-submit" data-loading-text="提交中。。" class="btn btn-success" onclick="onSubmit()">
					提交
					</button>
				</div>	
			</div>
		</form>
	</div>
</div>



<script type="text/javascript">
	$(function(){
		//初始化日期选择插件
		$('#append-form .form_date').datetimepicker({  
			language:"zh-CN",
			weekStart: 1,
			todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			minView:1,
			forceParse: 0
    	});		
	});

	function addExtra(){
		$("#append-panel .panel-title").text("提交加班记录");
		$("#append-extra_id").val("");
		$("#append-date").val(new Date().format("yyyy-MM-dd"));
		$("#append-start-date").val("");
		$("#append-end-date").val("");
		$("#append-reason").val("");

		$("#append-panel").show();
		$(document.body).animate({scrollTop:$("#append-panel").offset().top-60}, 300);
		$(document.documentElement).animate({scrollTop:$("#append-panel").offset().top-60}, 300);
	}

	//编辑签到申请
	function editExtra(data){
		$("#append-panel .panel-title").text("修改加班记录");
		$("#append-extra-id").val(data.extra_id);
		$("#append-date").val(data.date);	
		$("#append-start-date").val(data.start_date+" "+data.start_time.substr(0,2));
		$("#append-end-date").val(data.end_date+" "+data.end_time.substr(0,2));
		$("#append-reason").val(data.reason);

		$("#append-panel").show();
		$(document.body).animate({scrollTop:$("#append-panel").offset().top-60}, 300);
		$(document.documentElement).animate({scrollTop:$("#append-panel").offset().top-60}, 300);
	}

	function onSubmit(){
		if($("#append-start-date").val() == ""){
			showModalResult(false,"提示","请选择开始时间",false);
			return;
		}
		if($("#append-end-date").val() == ""){
			showModalResult(false,"提示","请选择结束时间",false);
			return;
		}	
		if($("#append-reason").val().length < 5){
			showModalResult(false,"提示","请认真填写加班原因",false);
			return;
		}	 
		 		
		$('#append-submit').button('loading');
	
		append_submit("{:U('Extra/submitExtra')}",$("#append-form"),"提交结果","提交成功");
	}
</script>