
<div class="modal fade" id="extra-modal">
	<div class="modal-dialog" style="margin: 10px auto;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<form id="modal-form">
					<input type="hidden" id="modal-extra-id" name="extra_id">
					<div class="row">	
						<div class="col-sm-6 form-div">
							<div class="form-label">人员姓名</div>
							<div class="input-group">
								<input type="input"  class="form-control" readonly="" value="{:get_username()}">
								<span class="input-group-addon"></span>
							</div>
						</div>
						<div class="col-sm-6 form-div">
							<div class="form-label">所属部门</div>
							<div class="input-group">
								<input type="input"  class="form-control" readonly="" value="{:get_department_name()}">
								<span class="input-group-addon"></span>
							</div>
						</div>
						<div class="col-sm-6 form-div">
							<div class="form-label">申请日期</div>
							<div class="input-group">
								<input type="input"  id="modal-date" class="form-control" readonly="">
								<span class="input-group-addon"></span>
							</div>
						</div>
						<div class="clearfix visible-lg visible-md visible-sm"></div>
						<div class="col-sm-6 form-div">
							<div class="form-label">开始日期</div>
							<div class="input-group date form_date"  data-date-format="yyyy-mm-dd hh">	
								<input class="form-control" size="16" type="text" id="modal-start-date" name="start_date" readonly>
								<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
							</div>
						</div>
						<div class="col-sm-6 form-div">
							<div class="form-label">结束日期</div>
							<div class="input-group date form_date" data-date-format="yyyy-mm-dd hh">
								<input class="form-control" size="16" type="text" id="modal-end-date" name="end_date" readonly>
								<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
							</div>
						</div>
						<div class="col-sm-12 form-div">
							<div class="form-label">加班原因</div>						
							<div class="textarea">
								<textarea type="" class="form-control" id="modal-reason" name="reason" style="min-height:70px;"readonly> </textarea>
							</div>
						</div>
						<div class="col-sm-12 form-div">
							<hr style="margin: auto;">
						</div>	
						<div class="col-sm-6 form-div">
							<div class="form-label">审批时间</div>
							<div class="input-group">
								<input type="input"  id='modal-check-datetime' class="form-control" readonly="">
								<span class="input-group-addon"></span>
							</div>
						</div>
						<div class="col-sm-6 form-div">
							<div class="form-label">审批状态</div>
							<div class="" id="modal-check-status">
								<button type="button" id="modal-check-status1" class="btn btn-sm btn-info">等待审批</button>
								<button type="button" id="modal-check-status2" class="btn btn-sm btn-success">审批通过</button>
								<button type="button" id="modal-check-status3" class="btn btn-sm btn-danger">审批驳回</button>
								<span class="" id="modal-checker"></span>
							</div>
						</div>
						<div class="col-sm-12 form-div">
							<div class="form-label">审批批注</div>				
							<div class="textarea">
								<textarea type="" id="modal-check-comment" class="form-control"  style="min-height:20px;"readonly="">
								</textarea>
							</div>
						</div>
					</div>
				</form>
				<div class="alert alert-danger" id="modal-alert" style="margin-bottom: 0px;">
				</div>
			</div>
			<div class="modal-footer" style="margin-top: auto; white-space: nowrap;">
				<button type="button" class="btn btn-default btn-modal-edit btn-modal-delete" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary btn-modal-edit" onclick="onEditSubmit()">确认修改</button>
				<button type="button" class="btn btn-primary btn-modal-view" data-dismiss="modal">确定</button>
				<button type="button" class="btn btn-danger btn-modal-delete" onclick="onDeleteSubmit()">确认删除</button>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">	
	function reset(data){
		$("#modal-check-status").children().hide();
		$("#extra-modal .modal-footer").children().hide();
		$("#extra-modal .alert").hide();
		$("#extra-modal .alert").removeClass("alert-success").addClass("alert-danger");

		$("#modal-extra-id").val(data.extra_id);
		$("#modal-date").val(data.date);
		$("#modal-start-date").val(data.start_date+" "+data.start_time.substr(0,2));
		$("#modal-end-date").val(data.end_date+" "+data.end_time.substr(0,2));
		$("#modal-reason").val(data.reason);
		$("#modal-check-datetime").val(data.check_datetime);
		$("#modal-checker").text(data.check_status != 1 && data.checker!=null?"by "+data.checker:"").show();
		$("#modal-check-status"+data.check_status).show();
		$("#modal-check-comment").val(data.check_comment);
	}

	//查看签到申请
	function viewExtra(data){
		reset(data);

		$("#extra-modal .modal-title").text("查看加班记录");
		$(".btn-modal-view").show();
		$('#extra-modal').modal({backdrop:"static"});
	}

	//删除签到申请
	function deleteExtra(data){
		reset(data);

		$("#extra-modal .modal-title").text("编辑加班记录");
		$(".btn-modal-delete").show();
		$("#extra-modal .alert").text("您确定要删除该条记录吗？");
		$("#extra-modal .alert").show();
		$('#extra-modal').modal({backdrop:"static"});
	}

	function onDeleteSubmit(){
		modal_submit("{:U('Extra/deleteExtra')}",$("#modal-form"),"删除成功",$("#modal-alert"));
	}
</script>