{//个人中心-请假申请-提交申请页面} 

{//个人中心-请假申请-提交结果模态框} 
<div class="modal fade" id="modal-add-result">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">提交结果</h4>
			</div>
			<div class="modal-body">
				<div class="alert" style="margin-bottom: 0px;">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
			</div>
		</div>
	</div>
</div>

{//个人中心-请假申请-提交表单} 
<div class="panel panel-success" id="append-panel" style="display:none;">
	<div class="panel-heading">
		<h3 class="panel-title"></h3>
	</div>
	<div class="panel-body">
		<form id="append-form">
			<input type="hidden" id="append-leave-id" name="leave_id">
			<div class="row">
				<div class="col-lg-4 col-sm-6 form-div">
					<div class="form-label">人员姓名</div>
					<div class="input-group">
						<input type="input"  class="form-control" readonly="" value="{:get_username()}">
						<span class="input-group-addon"></span>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 form-div">
					<div class="form-label">所属部门</div>
					<div class="input-group">
						<input type="input"  class="form-control" readonly="" value="{:get_department_name()}">
						<span class="input-group-addon"></span>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 form-div">
					<div class="form-label">申请日期</div>
					<div class="input-group">
						<input type="input"  class="form-control" id="append-date" readonly="">
						<span class="input-group-addon"></span>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 form-div">
					<div class="form-label">请假类型</div>
					<div class="input-group">
						<select id="append-type" name="type" class="selectpicker">
							<option value="0">婚假</option>
							<option value="1">丧假</option>
							<option value="2">产假</option>
							<option value="3">事假</option>
							<option value="4">病假</option>
							<option value="5">休假</option>
							<option value="6">其他</option>
						</select>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 form-div">
					<div class="form-label">开始日期</div>
					<div class="input-group date form_date"  data-date-format="yyyy-mm-dd hh">	
						<input class="form-control" type="text" id="append-start-date" name="start_date" readonly>
						<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 form-div">
					<div class="form-label">结束日期</div>
					<div class="input-group date form_date" data-date-format="yyyy-mm-dd hh">
						<input class="form-control" type="text" id="append-end-date" name="end_date" readonly>
						<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
					</div>
				</div>
				<div class="col-sm-12 form-div">
					<div class="form-label">请假原因</div>
					<div class="textarea">
					<textarea type="" class="form-control" id="append-reason" name="reason" style="min-height:100px;"> </textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-div" style="text-align: center;">
					<br>
					<button style="min-width:150px;width:30%;" type="button" id="append-submit" data-loading-text="提交中。。" class="btn btn-success">
					提交
					</button>
				</div>	
			</div>
		</form>
	</div>
</div>



<script type="text/javascript">
	$(function(){
		//初始化日期选择插件
		$('#append-form .form_date').datetimepicker({  
			language:"zh-CN",
			weekStart: 1,
			todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			minView:1,
			forceParse: 0
    	});		
	});


	function addLeave(){	
		$("#append-submit").unbind();
		$("#append-submit").click(function(){onAdd_EditSubmit('add');});

		$("#append-panel .panel-title").text("提交申请");
		$("#append-leave_id").val("");
		$("#append-date").val(new Date().format("yyyy-MM-dd"));
		$("#append-type option[value=0]").attr("selected", "selected");
		$("#append-form .selectpicker").selectpicker('refresh');	
		$("#append-start-date").val("");
		$("#append-end-date").val("");
		$("#append-reason").val("");

		$("#append-panel").show();
		$.scrollTo($("#append-panel").offset().top-60,300);
	}

	//编辑签到申请
	function editLeave(data){
		$("#append-submit").unbind();
		$("#append-submit").click(function(){onAdd_EditSubmit('edit');});

		$("#append-panel .panel-title").text("修改申请");
		$("#append-leave-id").val(data.leave_id);
		$("#append-date").val(data.date);
		$("#append-type option[value='"+data.leave_type+"']").attr("selected", "selected");
		$("#append-form .selectpicker").selectpicker('refresh');	
		$("#append-start-date").val(data.start_date+" "+data.start_time.substr(0,2));
		$("#append-end-date").val(data.end_date+" "+data.end_time.substr(0,2));
		$("#append-reason").val(data.reason);

		$("#append-panel").show();
		$.scrollTo($("#append-panel").offset().top-60,300);
	}

	function onAdd_EditSubmit(mode){
		if($("#append-start-date").val() == ""){	
			displayReslt(false,"请选择开始时间");
			return;
		}
		if($("#append-end-date").val() == ""){
			displayReslt(false,"请选择结束时间");
			return;
		}	
		if($("#append-reason").val().length < 5){
			displayReslt(false,"请认真填写请假原因");
			return;
		}	 
		 		
		$('#append-submit').button('loading');
	
		switch(mode){
			case "add":
				postSubmit("{:U('Leave/addLeave')}",$("#append-form").serialize(),"提交成功",$('#append-submit'),null,"提交结果");
				break;
			case "edit":
				postSubmit("{:U('Leave/editLeave')}",$("#append-form").serialize(),"提交成功",$('#append-submit'),null,"提交结果");
				break;
		}
	}
</script>