<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">常用功能</h3>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <a href="{:U('Main/attend')}" class="list-group-item {:getIsActive('sidebar-attend',$sidebar_item)}">签到记录</a>

      <a href="{:U('Main/work')}" class="list-group-item {:getIsActive('sidebar-work',$sidebar_item)}">工作计划</a>

      <a href="{:U('Main/errand')}" class="list-group-item {:getIsActive('sidebar-errand',$sidebar_item)}">出差记录
      </a>
      <a href="{:U('Main/leave')}" class="list-group-item {:getIsActive('sidebar-leave',$sidebar_item)}">请假申请
      </a>
      <a href="{:U('Main/order')}" class="list-group-item {:getIsActive('sidebar-order',$sidebar_item)}">订餐申请
      </a> 
      <a href="{:U('Main/borrow')}" class="list-group-item {:getIsActive('sidebar-borrow',$sidebar_item)}">设备申请
        <span class="badge">{:getPendingNum('borrow',1)}</span>
      </a>
    </div>         
  </div>
</div> 